[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty

[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty

[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	ignore = all

[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
	ignore = all

[submodule "third_party/glew"]
	path = third_party/glew
	url = https://github.com/nigels-com/glew.git
	ignore = all
[submodule "third_party/ImGuiFileDialog"]
	path = third_party/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "third_party/implot3d"]
	path = third_party/implot3d
	url = https://github.com/brenocq/implot3d.git
	ignore = all
[submodule "third_party/imgui-node-editor"]
	path = third_party/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "third_party/ImTerm"]
	path = third_party/ImTerm
	url = https://github.com/Organic-Code/ImTerm.git
[submodule "third_party/ImGuiColorTextEdit"]
	path = third_party/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "third_party/duckdb"]
	path = third_party/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "third_party/slang"]
	path = third_party/slang
	url = https://github.com/MikePopoloski/slang.git
